[submodule "hng-12--stage-0"]
	path = hng-12--stage-0
	url = https://github.com/AJ1732/hng-12--stage-0
[submodule "hng-12--stage-1"]
	path = hng-12--stage-1
	url = https://github.com/AJ1732/hng-12--stage-1
[submodule "hng-12--stage-2"]
	path = hng-12--stage-2
	url = https://github.com/AJ1732/hng-12--stage-2
[submodule "hng-12--stage-3"]
	path = hng-12--stage-3
	url = https://github.com/AJ1732/hng-12--stage-3
